{{- .TableHeader -}}
{{- range $i, $rule := .DocumentedRules }}
|
{{- if $rule.APIGroups -}}
{{- $length := len $rule.APIGroups }} {{ if eq $length 1 -}}
    {{ (index $rule.APIGroups 0) }}
{{- else -}}
<ul>
{{- range $i, $apiGroup := $rule.APIGroup -}}
     <li>{{ $apiGroup }}</li>
 {{- end -}}
</ul>
{{- end -}}
{{- end -}}|<ul>
{{- range $i, $resource := $rule.Resources -}}
    <li>{{ $resource }}</li>
{{- end -}}</ul>|
{{- $length := len $rule.ResourceNames -}}{{ if gt $length 0 -}}
<ul>
{{- range $i, $resourceName := $rule.ResourceNames -}}
     <li>{{ $resourceName }}</li>
 {{- end -}}
</ul>|
{{end -}}
{{- $length := len $rule.NonResourceURLs -}}{{ if gt $length 0 -}}
<ul>
{{- range $i, $nrl := $rule.NonResourceURLs -}}
     <li>{{ $nrl }}</li>
 {{- end -}}
</ul>|
{{end -}}<ul>
 {{- range $i, $verb := $rule.Verbs -}}
      <li>{{ $verb }}</li>
  {{- end -}}</ul>|{{- $rule.Comment -}}|
{{- end }}
